<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultFilterRules</key>
	<true/>
	<key>UploadEventsToJigsaw</key>
    <true/>
	<key>EventsToLog</key>
	<array>
		<dict>
			<key>eventType</key>
			<string>Sudo</string>
		</dict>
		<dict>
			<key>eventType</key>
			<string>User:Create</string>
		</dict>
		<dict>
			<key>eventType</key>
			<string>User:Delete</string>
		</dict>
		<dict>
			<key>eventType</key>
			<string>LaunchItem:Add</string>
		</dict>
		<dict>
			<key>eventType</key>
			<string>LaunchItem:Remove</string>
		</dict>
	</array>
	<key>filterRules</key>
	<array>
		<dict>
			<key>eventType</key>
			<string>All</string>
			<key>path</key>
			<string>/private/var/*</string>
			<key>signingId</key>
			<string>com.apple.softwareupdated</string>
		</dict>
		<dict>
			<key>eventType</key>
			<string>All</string>
			<key>signingId</key>
			<string>com.apple.locationd</string>
		</dict>
		<dict>
			<key>eventType</key>
			<string>All</string>
			<key>signingId</key>
			<string>com.apple.cfprefsd</string>
		</dict>
		<dict>
			<key>eventType</key>
			<string>All</string>
			<key>signingId</key>
			<string>com.apple.mds_stores</string>
		</dict>
		<dict>
			<key>eventType</key>
			<string>All</string>
			<key>path</key>
			<string>/private/var/*</string>
			<key>signingId</key>
			<string>com.apple.nsurlsessiond</string>
		</dict>
		<dict>
			<key>eventType</key>
			<string>All</string>
			<key>signingId</key>
			<string>com.zscaler.tunnel</string>
		</dict>
	</array>
</dict>
</plist>
